<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercise 1</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reseter.css/2.0.0/reseter.min.css">
  <link rel="stylesheet" href="/search.css">
</head>
<body>
  <header>
    <h1>Exercise 1</h1>
  </header>
  <body>
    <div class="search-box">
      <input id="search" type="search" autocomplete="off" />
      <div class="search-menu">
        <ul class="search-menu-list">
        </ul>
      </div>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/search.js"></script>
</body>
</html>