body {
  padding: 20px 40px;
}

.search-box {
  position: relative;
  display: inline-block;
}

#search {
  background-color: transparent;
  width: 400px;
  height: 40px;
  padding: 8px 12px;
  font-size: 20px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

#search:focus {
  border: 2px solid #0097cf;
}

.search-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 100;
  width: 100%;
  margin: 0 0 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.search-menu ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.search-menu ul li {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.search-menu ul li:hover,
.search-menu ul li.active {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}
